

button {
	border: none;
	border-radius: 6px;
	padding: 10px 20px;
	font-size: 20px;
	color: #000000;
	background-color: #0da6ff49;
}

header .title {
	background-color: #00bdca;
	color: #393b3baf;
	text-align: center;
	padding: 5px;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px; /* Ajusta el padding para dar más espacio alrededor */
    background-color: #464646c4;
    margin-top: 300px; /* Añade un margen superior para bajar todo el recuadro */
}

header div.countdown, header div.points {
    margin: 0;
    font-weight: bold;
    color: #fff;
    font-size: 26px;
}

header div.points {
    transition: color 0.5s;
}


header div.points.animate.right {
	color: #00cc77;
}

header div.points.animate.wrong {
	color: #bf0000;
}

header div.countdown, header div.points {
	font-weight: bold;
	margin: 10px;
	color: #ffffff;
	padding: 0px;
	font-size: 26px;
}

.card {
	background-color: red;
	width: 700px;
	background-color: #c2d2ebb9;
	margin: 100px auto 90px auto;
	border-radius: 6px;
	text-align: center;
	padding: 20px;
}

div.start .card {
	display: block;
}

div.start .card p, .question.card span.question {
	font-size: 20px;
}

.card.question {
	display: none;
}

.card.question.active {
	display: block;
}

.card.question .options {
	padding: 0;
	list-style: none;
	margin-top: 30px;
}

.card.question .options > li {
	margin: 10px 80px;
}

.card.question .options > li label {
	background-color: #7ED2CF;
	display: block;
	padding: 10px;
	border-radius: 20px;
}

.card.question .options > li label:hover {
	background-color: #2badceb0;
}

.card.question .options > li input:checked + label {
	background-color: #fff7f7 !important;
	color: #000000;
}

.card.question .options > li input {
	opacity: 0;
	display: none;
}

.finish {
	display: none;
}

.card.finish p {
	font-size: 22px;
}

.card.finish .final_points {
	font-size: 40px;
	font-weight: bolder;
}

.play_again,
button.start {
	width: 200px;
	margin: 0 auto 20px auto;
	color: #01090a;
}